.advantages {
  padding-left: 30px;
  padding-right: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 83px;
}

