.button {
  display: block;
  box-sizing: border-box;
  padding: 16px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $color-charcoal;

  &:focus,
  &:hover {
    color: $color-white;

    background-color: $color-charcoal;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }

  &--modal {
    color: $color-white;

    background-color: $color-downy;
    border: none;

    &:focus,
    &:hover {
      background-color: $color-puerto-rico;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  &--form {
    font-size: 17px;
    line-height: 16px;
  }
}
