.card {
  width: auto;
  border: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    display: flex;
  }

  @media (min-width: $vp-1150) {
    flex-direction: column;
    width: 316px;
  }
}

.card__title {
  margin: 0;
  padding-bottom: 5px;

  font-size: 100%;
  line-height: 24px;
  font-family: inherit;
  color: $color-black;

  @media (min-width: $vp-1150) {
    padding-bottom: 10px;

    font-size: 20px;
  }

  @media (min-width: $vp-1150) {
    padding-bottom: 6px;
  }
}

.card__link {
  display: block;

  text-decoration: none;
}

.card__description {
  padding-bottom: 18px;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    padding-bottom: 170px;

    font-size: 15px;
  }

  @media (min-width: $vp-1150) {
    padding-bottom: 37px;
  }
}

.card__price {
  font-size: 15px;
  line-height: 24px;
}

.card__wrapper-price {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;

  border-top: 1px solid $color-whisper;
}

.card__wrapper {
  padding: 28px 22px 27px 28px;

  @media (min-width: $vp-768) {
    flex-grow: 1;
    padding: 27px 39px  26px 34px;
  }

  @media (min-width: $vp-1150) {
    padding: 27px 26px 26px 28px;
  }
}

.card__image {
  object-fit: cover;
  width: 100%;
}
