.contacts {
  padding-left: 29px;
  padding-right: 30px;
}

.contacts__title {
  font-size: 25px;
  line-height: 30px;
}

.contacts__company {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;
}

.contacts__item {
  display: grid;
  grid-template-columns: 76px 183px;
}

.contacts__button {
  margin-bottom: 39px;
}
