.contacts {
  position: relative;

  max-width: 1150px;
  margin: 0 auto;

  @media (min-width: $vp-1150) {
    display: grid;
    margin-bottom: 105px;

    grid-template-columns: repeat(2, min-content);
  }
}

.contacts__container {
  position: relative;

  padding: 46px 30px 62px;

  @media (min-width: $vp-768) {
    padding: 86px 50px 49px;
  }

  @media (min-width: $vp-1150) {
    padding: 171px 10px 85px 224px;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: url("../img/svg/flag.svg");
      position: absolute;
      top: 63px;
      right: 53px;

      width: 47px;
      height: 81px;
    }

    @media (min-width: $vp-1150) {
      top: 156px;
      left: 113px;
    }
  }
}

.contacts__title {
  margin: 0;
  padding-bottom: 28px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    padding-bottom: 49px;

    font-size: 43px;
    line-height: 50px;

    @media (min-width: $vp-1150) {
      padding-bottom: 34px;

      font-size: 53px;
      line-height: 57px;
    }
  }
}

.contacts__company {
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 25px;

    font-size: 17px;
  }

  @media (min-width: $vp-1150) {
    flex-direction: column;
  }
}

.contacts__item {
  display: grid;

  column-gap: 10px;

  grid-template-columns: 66px 183px;

  &:not(:last-child) {
    padding-bottom: 30px;
  }

  @media (min-width: $vp-768) {
    padding-bottom: 0;

    grid-template-columns: 70px 230px;
  }

  @media (min-width: $vp-1150) {
    &:not(:last-child) {
      padding-bottom: 32px;
    }
  }
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 42px 30px 39px;

  @media (max-width: $vp-768) {
    max-width: 400px;
  }

  @media (min-width: $vp-768) {
    width: 230px;
    padding: 57px 0 57px;
  }

  @media (min-width: $vp-1150) {
    margin: 0;
    padding: 0;
    padding-left: 224px;
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 454px;

  @media (min-width: $vp-768) {
    height: 457px;
  }

  @media (min-width: $vp-1150) {
    width: 527px;
    margin-top: 91px;

    grid-column: 2/3;
    grid-row: 1/-3;
  }
}

.contacts__iframe {
  display: block;
  width: 100%;
  height: 454px;

  border: none;

  grid-row: 2/3;

  @media (min-width: $vp-768) {
    height: 457px;
  }

  @media (min-width: $vp-1150) {
    width: 527px;
  }
}

.contacts__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;

  object-fit: cover;

  @media (min-width: $vp-768) {
    height: 457px;
  }

  @media (min-width: $vp-1150) {
    width: 527px;
  }
}

.contacts__description {
  position: relative;

  color: inherit;
  text-decoration: none;
}

.contacts__description--underline::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;

  width: 167px;
  height: 1px;

  background-color: $color-downy;

  @media (min-width: $vp-768) {
    width: 204px;
  }
}

.contacts__description--underline {
  &:hover,
  &:focus {
    color: $color-downy;
  }
}
