.form__group {
  margin: 0;
  margin-top: 34px;
  padding: 0;

  border: none;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 50px 0;

    grid-template-columns: 167px auto;
  }
}

.form__title {
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form__list-color {
  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1150) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__label {
  line-height: 18px;
}

.form__item {
  line-height: 18px;

  &:not(:last-child) {
    padding-bottom: 23px;
  }

  @media (min-width: $vp-768) {
    font-size: 19px;
    line-height: 18px;

    &--name {
      display: grid;

      gap: 25px;
      grid-template-columns: min-content auto;
    }
  }
}

.form__remark {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    order: 2;
  }
}

.form__input {
  width: 100%;
  padding: 17px 0;

  border: none;
  border-bottom: 2px solid $color-black;
}

.form__input-number {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 20px;

  border: none;
  border-bottom: 2px solid $color-black;
}

.form__input-email {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 18px;

  border: none;
  border-bottom: 2px solid $color-black;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;

  border: 2px solid $color-black;
}

.form__wrapper-button {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
  }
}

.form__button {
  @media (min-width: $vp-768) {
    width: 230px;
  }
}
