.form-section {
  max-width: 1150px;
  margin: 0 auto;
}

.form-section__container {
  padding: 17px 28px 57px 30px;

  @media (min-width: $vp-768) {
    padding: 66px 50px 55px;
  }

  @media (min-width: $vp-1150) {
    padding: 115px 0 52px;
  }
}

.form-section__description {
  margin: 0;
  padding-right: 5px;
  padding-bottom: 29px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    max-width: 702px;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 80px;

    font-size: 17px;
    line-height: 30px;
  }
}
