.hero {
  background-image: url("../../img/hero.jpg");
  background-repeat: no-repeat;
}

.hero__title {
  text-align: center;
  padding: 73px 30px 120px 30px;
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

