.hero {
  position: relative;

  width: 100%;

  background-color: $color-snow;
}

.hero__container {
  width: 100%;
  max-width: 1050px;
  height: auto;
  margin: 0 auto;

  background-color: $color-snow;
  background-image: url("../img/content/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -15px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/hero-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    background-image: url("../img/content/hero-tablet.jpg");
    background-position: center -45px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1150) {
    background-image: url("../img/content/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/hero-desktop@2x.jpg");
    }
  }
}

.hero__title {
  margin: 0;
  padding: 73px 30px 120px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 110px 50px 372px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 114px 50px 355px;

    font-size: 53px;
    line-height: 57px;
  }
}
