.main-footer {
  position: relative;

  margin: 0 auto;

  @media (min-width: $vp-1150) {
    max-width: 1150px;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: -1;

    width: 200vw;
    height: 100%;

    background-color: $color-white-smoke;
  }

  @media (min-width: $vp-768) {
    flex-direction: row;
    justify-content: space-between;
    padding: 51px 50px 58px;
  }
}

.main-footer__copyright {
  font-size: 19px;
  line-height: 18px;
}

.main-footer__icon {
  &:hover,
  &:focus {
    fill: $color-puerto;
  }

  &:active {
    fill: rgba($color-puerto, 0.3);
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0 auto;
  padding: 29px 0 32px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 0;
  }
}
