.main-header {
  width: 100%;
  overflow: hidden;

  @media (min-width: $vp-768) {
    background-color: $color-snow;
  }
}

.main-header-color {
  @media (min-width: $vp-768) {
    background-color: $color-white-smoke;
  }
}
