.social {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__link {
  text-decoration: none;
}

.main-footer__social {
  margin: 25px 89px 28px 89px;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  font-size: 19px;
  line-height: 18px;
  padding-top: 29.15px;
  padding-bottom: 31.85px;
}
