.main-header {
  position: relative;
}

.main-header__logo {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22.08px;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
