.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba($color-white, 0.9);

  &--open {
    display: flex;
  }
}

.modal__container {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 28px 30px 46px;

  text-align: center;

  background-color: $color-white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $vp-768) {
    width: 566px;
    padding: 38px 106px 46px;
  }
}

.modal__title {
  margin: 0;
  padding-bottom: 14px;

  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding-bottom: 11px;

    font-size: 30px;
    line-height: 57px;
  }
}

.modal__details {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.modal__list {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 21px;

  list-style-type: none;

  gap: 7px;
  grid-template-columns: 1fr 1fr 1fr;
}

.modal__button {
  width: 100%;
  margin-top: 31px;
}

.modal__label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 52px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-charcoal;

  border: 2px solid rgba($color-charcoal, 0.1);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: rgba($color-charcoal, 0.3);
  }
}

.modal__input:checked + .modal__label {
  border-color: $color-downy;
}
