.page {
  height: 100%;
}

.page__body {
  width: 100%;
  margin: 0 auto;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $ff-body;
  color: $color-black;

  background-color: $color-white;
}
