.popular-product {
  max-width: 1150px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;

    align-items: center;
    width: 100%;
    height: 6px;

    background: url("../img/svg/zigzag.svg") repeat-x center;

    @media (min-width: $vp-768) {
      max-width: 1050px;
      height: 17px;
      padding: 0 50px;

      background: url("../img/svg/zigzag-tablet.svg") repeat-x center;
    }

    @media (min-width: $vp-1150) {
      height: 23px;

      background: url("../img/svg/zigzag-desktop.svg") no-repeat center;
    }
  }
}


.popular-product__container {
  display: flex;
  flex-direction: column;
  padding: 31px 30px 36px 30px;

  @media (max-width: $vp-768) {
    max-width: 400px;
    margin: 0 auto;
  }

  @media (min-width: $vp-768) {
    position: relative;

    padding: 54px 50px 68px;
  }

  @media (min-width: $vp-1150) {
    padding: 115px 50px 73px 225px;
  }
}

.popular-product__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    order: 2;

    font-size: 53px;
    line-height: 57px;
  }
}

.popular-product__wrapper {
  display: grid;
  padding: 7px 0 12px;

  border-bottom: 1px solid $color-whisper;

  grid-template-columns: 97px auto;
}

.popular-product__definition {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 17px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    width: 100px;

    text-align: center;
  }

  @media (min-width: $vp-1150) {
    position: absolute;
    top: 123px;
    left: 82px;
  }
}

.popular-product__text {
  margin: 0;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    padding-right: 377px;
    padding-bottom: 48px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    max-width: 292px;
    padding-bottom: 60px;
  }
}

.popular-product__about {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $color-charcoal;


  @media (min-width: $vp-768) {
    padding-right: 377px;
    padding-bottom: 57px;
  }

  @media (min-width: $vp-1150) {
    max-width: 292px;
    padding-bottom: 109px;
  }
}

.popular-product__price {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (max-width: $vp-768) {
    max-width: 154px;
    margin: 0 auto;
  }

  @media (min-width: $vp-768) {
    padding-bottom: 33px;
    padding-left: 82px;

    font-size: 20px;
  }

  @media (min-width: $vp-1150) {
    padding-top: 0;
  }
}

.popular-product__image {
  @media (max-width: $vp-768) {
    width: 100%;
    height: auto;

    object-fit: cover;
  }

  @media (min-width: $vp-768) {
    position: absolute;
    top: 140px;
    right: 50px;
    z-index: -1;

    width: 334px;
    height: 404px;
  }

  @media (min-width: $vp-1150) {
    top: 54px;

    width: 525px;
    height: 636px;
  }
}

.popular-product__button {
  width: 100%;

  @media (min-width: $vp-768) {
    width: 292px;
  }
}

.popular-product__wrapper-title {
  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 37px;
  }

  @media (min-width: $vp-1150) {
    padding-bottom: 35px;
  }
}

.popular-product__description {
  margin: 0;
}
