.products {
  max-width: 1150px;
  margin: 0 auto;
}

.products__container {
  padding: 30px;

  @media (min-width: $vp-768) {
    padding: 78px 50px 55px;
  }

  @media (min-width: $vp-1150) {
    padding: 126px 50px 57px;
  }
}

.products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (max-width: 767px) {
    max-width: 400px;
    margin: 0 auto;
  }

  @media (min-width: $vp-1150) {
    display: grid;

    gap: 49px;
    grid-template-columns: repeat(3, 1fr);
  }
}
