.production {
  max-width: 1150px;
  margin: 0 auto;
}

.production__container {
  display: flex;
  flex-direction: column;
  margin: 21px 30px 58px;

  border: 1px solid $color-whisper;

  @media (min-width: $vp-1150) {
    display: grid;

    grid-template-columns: 683px 367px;
    grid-template-rows: min-content min-content;
  }
}

.production__title {
  margin: 0;
  padding: 22px 34px 26px;

  font-size: 100%;
  line-height: 24px;

  @media (min-width: $vp-768) {
    font-size: 20px;
  }
}

.production__details {
  margin: 0;
  padding-bottom: 41px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 15px;
    line-height: 30px;
  }
}

.production__video {
  position: relative;

  @media (min-width: $vp-768) {
    order: -1;
  }

  @media (min-width: $vp-1150) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

.production__play-button {
  position: absolute;
  top: 37px;
  left: 80px;
}

.production__wrapper {
  padding: 35px 34px 33px;

  @media (min-width: $vp-1150) {
    grid-column: 2/3;
  }
}
