.promo__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: flex;
    padding: 0 50px;
  }
}

.promo__item:nth-child(odd) {
  background-color: $color-downy;

  &:hover,
  &:focus {
    background-color: $color-downy-light;
    transform: translateY(-5px);
  }

  &:active {
    background-color: $color-downy-light;
  }
}

.promo__item:nth-child(even) {
  background-color: $color-puerto-rico;

  &:hover,
  &:focus {
    background-color: $color-puerto;
    transform: translateY(-5px);
  }

  &:active {
    background-color: $color-puerto;
  }
}

.promo__link {
  display: block;
  padding: 24px 160px 31px 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;
  text-decoration: none;

  cursor: pointer;

  @media (min-width: $vp-768) {
    padding: 25px 167px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }
}

.promo__item {
  min-height: 103px;

  @media (min-width: $vp-768) {
    width: 50%;
    min-height: 119px;
  }
}

.promo {
  position: relative;

  background-color: $color-snow;

  @media (min-width: $vp-768) {
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;

      width: 100%;
      height: 24px;

      background: url("../img/svg/zigzag-promo-desktop.svg") repeat-x center;
    }
  }

  @media (min-width: $vp-1150) {
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;

      width: 100%;
      height: 34px;

      background: url("../img/svg/zigzag-big.svg") repeat-x center;
    }
  }
}

.promo__container {
  max-width: 1150px;
  margin: 0 auto;
}

.form__label-name {
  text-align: center;
}
