.site-list {
  position: relative;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;

    gap: 35px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $vp-1150) {
    padding-right: 0;

    gap: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.site-list__link {
  display: block;
  max-width: 400px;
  padding: 28px 59px 27px 76px;

  line-height: 24px;
  color: $color-black;
  text-decoration: none;

  &:focus,
  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }

  @media (min-width: $vp-768) {
    padding: 20px 0 0;

    font-size: 15px;
  }

  @media (min-width: $vp-1150) {
    padding: 32px 33px 32px 0;

    font-size: 17px;
  }
}

.site-list__item {
  border-top: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    border-top: none;
  }

  @media (min-width: $vp-1150) {
    box-sizing: border-box;

    &--border {
      border-right: 1px solid $color-whisper;
    }
  }
}
