.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  padding: 25px 0 28px;

  list-style-type: none;

  gap: 24px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 0;
  }
}

.social__link {
  text-decoration: none;
}
