.user-list__link {
  display: block;
  text-decoration: none;
  line-height: 24px;
  color: $color-black;

  &--search {
    padding: 28px 77px 27px 76px;
  }

  &--cart {
    padding: 28px 33px 27px 76px;
  }

  &:focus,
  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}
