$color-downy: #63d1bb;
$color-puerto-rico: #56c3b2;
$color-white-smoke: #f1f1f1;
$color-white: #ffffff;
$color-black: #000000;
$color-whisper: #ececec;
$color-charcoal: #444444;
$color-snow: #f9f9f9;
$color-puerto: #46c1ae;
$color-downy-light: #59d5bc;
$color-grey: #e5e5e5;
$ff-body: "Open Sans", sans-serif;

$vp-767: 767px;
$vp-768: 768px;
$vp-1150: 1150px;
